[submodule "blobstream/contracts/lib/succinctx"]
	path = blobstream/contracts/lib/succinctx
	url = https://github.com/succinctlabs/succinctx
[submodule "blobstream/contracts/lib/forge-std"]
	path = blobstream/contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
