[submodule "contracts/lib/blobstream-contracts"]
	path = contracts/lib/blobstream-contracts
	url = https://github.com/celestiaorg/blobstream-contracts
[submodule "contracts/lib/tendermintx"]
	path = contracts/lib/tendermintx
	url = https://github.com/succinctlabs/tendermintx
