[package]
name = "celestia"
version = "0.1.0"
edition = "2021"

[dependencies]
plonky2 = { git = "https://github.com/mir-protocol/plonky2.git" }
plonky2_ecdsa = { git = "ssh://git@github.com/succinctlabs/plonky2-ecdsa", branch="kevjue/serialization" }
plonky2_field = "0.1.0"
plonky2_u32 = { git = "ssh://git@github.com/succinctlabs/plonky2-u32", branch="kevjue/serialize" }