# Ethereum config
PRIVATE_KEY=
RPC_URL=
ETHERSCAN_API_KEY=

# Note: Use random bytes to create deterministic addresses (ex. 0xaa)
CREATE2_SALT=

GUARDIAN_ADDRESS=
GATEWAY_ADDRESS=
NEXT_HEADER_FUNCTION_ID=
HEADER_RANGE_FUNCTION_ID=
GENESIS_HEIGHT=
GENESIS_HEADER=

# Set DEPLOY to true to deploy a new contract
DEPLOY=

# Set UPGRADE to true to update an existing contract at CONTRACT_ADDRESS
UPGRADE=
# Set update flags to true to update specific contract state
UPDATE_GENESIS_STATE=
UPDATE_FUNCTION_IDS=
UPDATE_GATEWAY=

# Address of existing Blobstream X contract for upgrading
CONTRACT_ADDRESS=